.backgroundImage{
    position: relative;
    height: 90vh;
}
.img{
    width: 100%;
     height: inherit;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.overlay{
    position: absolute;
    background-color: rgba(3, 22, 58, 0.349);
    top: 0;
    width: 100%;
    height: inherit;
    z-index: 10;
}
.content{
    position: absolute;
    top: 0;
    z-index: 99;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 3rem;
}