.backgroundImage{
    background-image: url('../../image/smiling-face.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 90vh;
}