.movingBg{
    background-size: 100% 100vh;
    min-height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 1024px){
    .movingBg{
        background-attachment: scroll;
        background-size: auto;
    }
}
.banner-show{
    max-width: 1300px;
    margin: 0 auto;
}