@tailwind base;
@tailwind components;
@tailwind utilities; 
*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}
@layer components{
    .rowToCol{
        @apply flex flex-col md:flex-row items-center justify-between
    }
    .customFlex{
        @apply flex gap-4 flex-row
    }
    .customBackground{
        @apply bg-[#a6587c]
    }
    .customBlue{
        @apply bg-[#1d2f40]
    }
    .customText{
        @apply text-[#a6587c]
    }
    .container{
        @apply px-4 md:px-8 lg:px-12
    }
    .width{
        max-width: 1300px;
        margin: 0 auto;
    }
    .customFlexLg{
        @apply flex flex-col-reverse lg:flex-row gap-12 w-full justify-between items-center
    }
    .arrow{
        @apply customText text-2xl font-bold text-4xl
    }
}

@layer base{
     h1{
        @apply lg:text-5xl md:text-4xl sm:text-3xl text-2xl font-bold
     }
     p{
        @apply text-gray-500 md:text-lg lg:text-xl text-base
     }
     span{
        @apply font-semibold text-sm
     }
     li{
        @apply text-[20px] my-[12px] hover:text-[#a6587c] transition-all ease-in-out delay-100 cursor-pointer hover:text-[22px] duration-150
     }
     ul{
        @apply pt-8 pb-16 ml-6
     }
}